body{
  margin: 0;
}

.form-group{
	padding-top: 5px !important;
}

.btn-enlarge{
	padding: 6px 12px !important;
}

.form-actions {
	padding-top: 5px;
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.uib-datepicker-popup.dropdown-menu {
	width: 198px !important;
  height: 238px !important;
}

.uib-day button {
 padding: 10px 0px !important; 
}

.uib-datepicker-popup .btn {
  padding: 2px 4px !important; 
}

.uib-datepicker-popup .btn[disabled]:hover {
 cursor: initial; 
}



.uib-month button {
 padding: 10px 0px !important; 
}
